<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Guna.UI2.WinForms" version="2.0.1.4" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Solidworks.EPDM.Interop" version="19.4.0" targetFramework="net461" />
  <package id="Solidworks.Interop.Basic" version="19.4.0" targetFramework="net461" />
  <package id="SolidWorks.Interop.swconst" version="29.4.1" targetFramework="net461" />
  <package id="Xarial.XCad" version="0.7.12" targetFramework="net461" />
  <package id="Xarial.XCad.SolidWorks" version="0.7.12" targetFramework="net461" />
  <package id="Xarial.XCad.SolidWorks.Interops" version="0.3.0" targetFramework="net461" />
  <package id="Xarial.XCad.Toolkit" version="0.7.12" targetFramework="net461" />
</packages>